@import 'tailwindcss';
@import 'tw-animate-css';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

@custom-variant dark (&:not(*)); /* Not to support dark appearance */

@layer base {
    body {
        @apply text-foreground antialiased **:font-sans!;
        @apply flex min-h-dvh justify-center;
    }
}

@theme inline {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);

    /* Fonts */
    --font-sans: var(--font-latin-sans), var(--font-cjk-sans);
    --font-mono: var(--font-latin-mono), var(--font-cjk-sans);

    /* Chart colors */
    --color-chart-1: oklch(0.646 0.222 41.116);
    --color-chart-2: oklch(0.6 0.118 184.704);
    --color-chart-3: oklch(0.398 0.07 227.392);
    --color-chart-4: oklch(0.828 0.189 84.429);
    --color-chart-5: oklch(0.769 0.188 70.08);

    /* Theme colors */
    --color-theme: #006ac6;
    --color-theme-accent: #e6f3ff;

    /* Outline colors */
    --color-ring: oklch(0.708 0 0);
    --color-input: oklch(0.922 0 0);
    --color-border: oklch(0.922 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);

    /* Foreground color */
    --color-subtitle: oklch(0.556 0 0);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-popover-foreground: oklch(0.145 0 0);
    --color-card-foreground: oklch(0.145 0 0);

    /* Background color */
    --color-accent: oklch(0.97 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-popover: oklch(1 0 0);
    --color-card: oklch(1 0 0);
    --color-inactive: color-mix(in oklab, oklch(92.2% 0 0) 75%, transparent);
}

@layer base {
    .leaflet-map-pane {
        @apply -z-10!; /* Place map pane behind other elements (fix for Mobile Safari) */
    }
    .leaflet-container {
        @apply bg-card! font-[inherit]!;
    }
    .leaflet-container a {
        @apply text-inherit!;
    }
    .leaflet-div-icon {
        @apply border-none! bg-transparent!;
    }
    .leaflet-popup-content-wrapper,
    .leaflet-popup-content,
    .leaflet-popup-content p {
        @apply [all:unset]!;
    }
    .leaflet-popup {
        @apply animate-none!;
    }
    .leaflet-popup-close-button {
        @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
    }
    .leaflet-tooltip,
    .leaflet-draw-tooltip {
        @apply bg-foreground! text-background! animate-none! rounded-md! border-none! p-0! px-3! py-1.5! shadow-none!;
    }
    .leaflet-draw-tooltip:before {
        @apply bg-foreground top-1/2! right-0.5! size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-xs border-none!;
    }
    .leaflet-error-draw-tooltip {
        @apply bg-destructive! text-white!;
    }
    .leaflet-error-draw-tooltip:before {
        @apply bg-destructive;
    }
    .leaflet-draw-tooltip-subtext {
        @apply text-background!;
    }
    .leaflet-popup-tip-container,
    .leaflet-tooltip-top:before,
    .leaflet-tooltip-bottom:before,
    .leaflet-tooltip-left:before,
    .leaflet-tooltip-right:before {
        @apply hidden;
    }
    .leaflet-control-attribution {
        @apply bg-muted! rounded-md px-1! py-0.5! text-[10px] leading-none! text-inherit!;
    }
    .leaflet-draw-guide-dash {
        @apply rounded-full;
    }
    .leaflet-edit-marker-selected {
        @apply border-transparent! bg-transparent!;
    }
}

@layer components {
    .rdp-today {
        &:not([data-selected='true']) {
            @apply rounded-full;
            > button {
                @apply rounded-full! border-3 border-white;
            }
        }
    }

    .rdp-day {
        &[data-selected-single='true'],
        &[data-range-start='true'],
        &[data-range-end='true'] {
            @apply bg-theme text-primary-foreground border-theme-accent hover:bg-theme/80! hover:text-primary-foreground! rounded-full! border-3;
        }
        &:last-child[data-selected='true'] {
            > button[data-range-middle='true'],
            > button[data-range-start='true'][data-range-end='false'] {
                @apply after:from-theme-accent after:absolute after:inset-y-0 after:-right-3 after:w-3 after:bg-linear-to-r;
            }
        }
        &:first-child[data-selected='true'] {
            > button[data-range-middle='true'],
            > button[data-range-end='true'][data-range-start='false'] {
                @apply before:from-theme-accent before:absolute before:inset-y-0 before:-left-3 before:w-3 before:bg-linear-to-l;
            }
        }
    }

    /* Portal -> Page hero -> Pagination bullets */
    #portal-hero .swiper-pagination {
        --swiper-pagination-bottom: 0;
        @apply flex justify-start! gap-2! pb-px pl-2.25;
        .swiper-pagination-bullet {
            @apply mx-0! size-1.5! scale-120 bg-neutral-200/80! opacity-100! transition-all! duration-500!;
            &.swiper-pagination-bullet-active {
                @apply w-12! scale-100! overflow-hidden! rounded-full!;
                @apply relative after:absolute after:inset-0 after:bg-neutral-400/50;
                @apply after:w-[calc(var(--autoplay-progress)*100%)];
            }
        }
    }

    /* Location view -> Carousel -> Pagination bullets */
    #location-carousel .swiper-pagination-bullet {
        @apply size-1.5! bg-white! opacity-50! transition-all! duration-300!;
        &.swiper-pagination-bullet-active {
            @apply w-12! rounded-full! opacity-100!;
        }
    }
}
