@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:not(*)); /* Not to support dark appearance */

@theme inline {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0);

    /* Fonts */
    --font-sans: var(--font-latin-sans);
    --font-mono: var(--font-latin-mono);

    /* Spacing */
    --spacing-page-x: calc(var(--spacing) * 4.5); /* 18px */

    /* Chart colors */
    --color-chart-1: oklch(0.646 0.222 41.116);
    --color-chart-2: oklch(0.6 0.118 184.704);
    --color-chart-3: oklch(0.398 0.07 227.392);
    --color-chart-4: oklch(0.828 0.189 84.429);
    --color-chart-5: oklch(0.769 0.188 70.08);

    /* Outline colors */
    --color-ring: oklch(0.708 0 0);
    --color-input: oklch(0.922 0 0);
    --color-border: oklch(0.922 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);

    /* Foreground color */
    --color-accent-foreground: oklch(0.205 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-popover-foreground: oklch(0.145 0 0);
    --color-card-foreground: oklch(0.145 0 0);

    /* Background color */
    --color-accent: oklch(0.97 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-popover: oklch(1 0 0);
    --color-card: oklch(1 0 0);

    /* Radius */
    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}
